<div class="row justify-space-between-lg">
  <div class="comment-card">
    <form class="form comment-form">
      <div class="form-group">
        <label for="comment-content">Add comment:</label>
        <textarea class="form-input" type="text" id="comment-content" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="Submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/add-comment.js"></script>