{{#if loggedIn}}
<div class="btn-container my-5">
    <a href="/addPost" class="btn">Create Post</a>
</div>
<div class="container post-list">
    {{#each posts as |post|}}
    {{> dashboard-details}}
    {{else}}
    {{/each}}
</div>
{{/if}}
