{{#if loggedIn}}
<div class="btn-container my-5">
            <a href="/addPost" class="btn">Create Post</a>
</div>
<div class="container post-list">
    {{#each posts as |post|}}
    {{> dashboard-details}}
    {{else}}
    {{/each}}
</div>
{{else}}
<section class="container">
    <section class="justify-center">
        <h2 class="post-title">Please Log In or Sign Up!</h3>
    </section>
</section>
{{/if}}

<script src="./js/manage-post.js"></script>