<div class="row justify-space-between-lg">
  <div class="edit-card">
    <form class="form edit-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <textarea class="form-input" type="text" id="post-title" rows="1">{{post.title}}</textarea>
        <label for="post-content">Content:</label>
        <textarea class="form-input" type="text" id="post-content" rows="3" data-id="{{post.id}}">{{post.content}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary edit-post-btn" type="Submit" data-id="{{post.id}}">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/edit-post.js"></script>