<div class="container">
    {{#with post}}
    {{> single-post-details}}
    {{/with}}
    {{#if (is_owner user_id owner)}}
    <div class="text-center mb-5">
        <button class="btn edit-post-btn" onclick="window.location.href='../editPost/';" data-id="{{post.id}}">Edit
            Post</button>
        <button class="btn btn-danger delete-post-btn" data-id="{{post.id}}">Delete</button>
    </div>
    <script src="../js/delete-post.js"></script>
    {{/if}}
    <div class="post-details">
        {{#each post.comments}}
        {{> comments-details}}
        {{/each}}
    </div>
    <div class="text-center mb-5">
        <button class="btn comment-btn" onclick="window.location.href='../addComment';">Add Comment</button>
    </div>
</div>