<div class="container">
    {{#with post}}
    {{> single-post-details}}
    {{/with}}
    <div class="post-details">
        {{#each post.comments}}
        {{> comments-details}}
        {{/each}}
    </div>
    <div class="text-center mb-5">
        <button class="btn comment-btn" onclick="window.location.href='../addComment';">Add Comment</button>
    </div>
</div>